<ion-header>
  <ion-navbar>
    <button ion-button [menuToggle]="activeMenu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{path}}</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="doSelectWS()">
            <ion-icon name="folder"></ion-icon>
          </button>
        <button ion-button icon-only (click)="doHomeSetting()">
          <ion-icon name="home"></ion-icon>
        </button>        
        <button ion-button icon-only (click)="doRefresh()">
          <ion-icon name="refresh"></ion-icon>
        </button>        
      </ion-buttons>
  </ion-navbar>
  <!--
  <ion-toolbar no-border-top>
    <ion-searchbar placeholder="Filter Items" (ionInput)="onFilterItems($event)"></ion-searchbar>
  </ion-toolbar>
-->
</ion-header>
<ion-content padding>
  <!-- <ion-searchbar (input)="search()" [(ngModel)]="searchWords"></ion-searchbar> -->
  <span *ngIf="!fileSelectMode">
    <ion-list>
      <button ion-item *ngIf="path != basePath" (click)="prevDir()">
        ..
      </button>

      <button ion-item *ngFor="let folder of folders" (click)="goTo(folder)">
        {{folder}}
      </button>
    </ion-list>
    <ion-fab right bottom class="bottom-right">
      <button ion-fab color="primary" (click)="select()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-fab>
  </span>
  
  <ion-list *ngIf="groupBySet.length==0">
    <ion-item *ngFor="let item of filterItems" text-wrap (click)="doEdit(item.file)">
      <button ion-button round outline strong item-start>{{item.tokens[0].charAt(1)}}</button>
      <span *ngFor="let token of item.tokens.slice(2)" [ngSwitch]="token.charAt(0)">
        <ion-badge *ngSwitchCase="'@'">{{token}}</ion-badge>
        <ion-badge *ngSwitchCase="'+'" color="secondary">{{token}}</ion-badge>
        <ion-badge *ngSwitchCase="'#'" color="light">{{token}}</ion-badge>
        <ion-badge *ngSwitchCase="'('" color="light">{{token}}</ion-badge>        
        <span *ngSwitchDefault>{{token}}</span>          
      </span>
      <br><span ion-text color="primary">{{item.tokens[1]}}</span>
      <button ion-button icon-only item-end (click)="openFile(item.file);$event.stopPropagation();">
        <ion-icon name="open"></ion-icon>
      </button>
    </ion-item>        
  </ion-list>  
<!--
  <div *ngIf="groupBySet.length>0">
    <ion-card *ngFor="let group of groupBySet">
      <ion-card-header>{{group}}</ion-card-header>
      <ion-list>
        <ion-item *ngFor="let item of filterGroup(filterItems,group)" text-wrap (click)="doEdit(item.file)">
          <button ion-button round outline strong item-start>{{item.tokens[0].charAt(1)}}</button>
          <span *ngFor="let token of item.tokens.slice(2)" [ngSwitch]="token.charAt(0)">
            <ion-badge *ngSwitchCase="'@'">{{token}}</ion-badge>
            <ion-badge *ngSwitchCase="'+'" color="secondary">{{token}}</ion-badge>
            <ion-badge *ngSwitchCase="'#'" color="light">{{token}}</ion-badge>
            <ion-badge *ngSwitchCase="'('" color="light">{{token}}</ion-badge>        
            <span *ngSwitchDefault>{{token}}</span>          
          </span>
          <br><span ion-text color="primary">{{item.tokens[1]}}</span>
          <button ion-button icon-only item-end (click)="openFile(item.file);$event.stopPropagation();">
            <ion-icon name="open"></ion-icon>
          </button>
        </ion-item>       
      </ion-list>
    </ion-card>
  </div>
-->
  <ion-list *ngIf="groupBySet.length>0">
    <ion-item-group *ngFor="let group of groupBySet">      
      <ion-item-divider color="light">{{group}}</ion-item-divider>
        <ion-item *ngFor="let item of filterGroup(filterItems,group)" text-wrap (click)="doEdit(item.file)">
          <button ion-button round outline strong item-start>{{item.tokens[0].charAt(1)}}</button>
          <span *ngFor="let token of item.tokens.slice(2)" [ngSwitch]="token.charAt(0)">
            <ion-badge *ngSwitchCase="'@'">{{token}}</ion-badge>
            <ion-badge *ngSwitchCase="'+'" color="secondary">{{token}}</ion-badge>
            <ion-badge *ngSwitchCase="'#'" color="light">{{token}}</ion-badge>
            <ion-badge *ngSwitchCase="'('" color="light">{{token}}</ion-badge>        
            <span *ngSwitchDefault>{{token}}</span>          
          </span>
          <br>due <span ion-text color="primary">{{item.tokens[1]}}</span>
          <button ion-button icon-only item-end (click)="openFile(item.file);$event.stopPropagation();">
            <ion-icon name="open"></ion-icon>
          </button>
        </ion-item> 
    </ion-item-group>
  </ion-list>
  <ion-fab right bottom #btnnew>
    <button ion-fab (click)="doNew()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>



</ion-content>